#background { /* Super mega tlo, scrollowanie mojej strony glownej na jak uczynic tekst bardziej przejrzystym? do analizy */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-1;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  color:white;
  background-color: #121212; /* jakby komuś nie działał filmik, to będzie miał dalej tło */
}
.logo { /* Wyśrodkowanie logo */
  display:block;
  margin-left:auto;
  margin-right:auto;
}
h1 {
  text-align: center;
}
.text_margin {
  margin-left:10%;
  margin-right:10%;
  margin-bottom:50px;;
}
article { /* kokodżambo z artykulem i tą drugą linią tekstu pod nim */
  text-align: center;
  margin-top:50px;
  margin-left:25%;
  margin-right:25%;
  line-height:20px;
}
article + p {
  text-align: center;
  margin-top:20px;
  margin-left:25%;
  margin-right:25%;
  line-height:20px;
}
.social { /* Te cholerne ikonki */
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.social img {
  width: 50px;
  height: 50px;
  margin-left:15px;
}
.button {
  display:flex;
  margin:auto;
  background-color:#121212;
  color:inherit;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  width:200px;
  height:50px;
  margin-bottom:10px;
}
.button_uncentered {
  display:flex;
  margin-left:10%;
  background-color:#3d3d3d;
  color:inherit;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  max-width: 200px;
  padding:20px;
}
a:hover.button {
  background-color:#444444;
}
footer { /* Cholerna stopka, która miała być na końcu strony, a gdy dam jej pozycje absolutną to robi
  sie jakis smieszny scrollbar poziomy na cala przegladarke, wiec na razie zostaje pod tekstem */
  text-align: center;
  color:lightgray;
  margin-top:25px;
  margin-bottom:25px;
  line-height:10px;
}